<!doctype html>
<html>
    <head> 
    <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=roboto+Condensed:300italic,700italic,700,300">
    <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <title>FinsTagram</title>
    </head>
    <body>
        <header>
            <h1>finstagram</h1>
            <main role="main"></main>
                <article>
                    <div>
                        <article class="post"
                            <div class="user-info">
                        <img src="http://images.clipartpanda.com/shark-clip-art-biyEEr6iL.png" alt="sharky_j">
                        <h2>sharky_j</h2>
                        <h3>15 minutes ago</h3>
                    </div>
                    <a class="photo" href="#">
                        <img src="http://images.clipartpanda.com/shark-clip-art-biyEEr6iL.png alt="post from sharky_j>"
                    </a>
                     <div class="actions">
                         0 likes
                           <span class="comment-count"> 0 comments</span>
                    </div>
                        <ul class="comments">
                            <li>
                                <p>
                                    Sharky_j out for the long weekend
                                </p>
                            </li>
                        </ul>
                     
                </article>
                <div>
        </header>

    </body>
</html>